.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.carousel-item img{
width: 100%;
height: 93%;
}

.about_image{
  height: 200px;
  width: 200px;
  margin-left: 40%;

}

.social_img1{
  max-height:50px;
  max-width: 50px;

}
.social_img2{
  max-height:50px;
  max-width: 50px;

}
.social_img3{
  max-height:50px;
  max-width: 50px;

}
.social_img4{
  max-height:50px;
  max-width: 50px;

}

/*Responsive Css Code*/
/* X-Small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) { ... }
